html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--maim-font);
    background-color: var(--hero-txt-cl);
    color: var(--main-txt-cl);    
}

body.modal-open {
    overflow: hidden;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 480px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    @include mq(tablet) {
        
        
    }

    @include mq(desktop) {
        font-size: 36px;
        line-height: 1.17;
    }
}