/* -- ABOUT -- */

.about__list {    

    @include mq(tablet) {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    @include mq(desktop) {

        display: flex;
        flex-wrap: nowrap;

    }

}

.about__item {

    margin-bottom: 30px;

    @include mq(tablet) {
        
        width: 354px;

        &:nth-child(odd) {
            margin-right: 30px;
        }

        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }

    }

    @include mq(desktop) {

        width: 270px;
        height: 100%;

        &:nth-child(-n+2) {
            margin-bottom: 0;
        }

        &:not(:last-child) {
            margin-right: 30px;
        }

    }
    
}

.about__txt {
    
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--ls-primary);
    text-align: center;
    text-transform: uppercase;
    
    color: var(--nav-cl);

    @include mq(tablet) {
        text-align: left;
        
    }

    @include mq(desktop) {
        text-align: left;
    }
}

.about__meta {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--ls-primary);

    color: var(--secondary-txt-cl);
}

.about-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}

.about-icon__img {
    display: flex;
    align-items: center;
    color: #188CE8;
}

